<div class="container mt-5" style="margin-left: 200px;" >
  <form [formGroup]="currencySymbolForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label>Symbol</label>
          <input type="text" formControlName="symbol" class="form-control" [ngClass]="{'is-invalid': currencySymbolForm.get('symbol').errors 
          && currencySymbolForm.get('symbol').touched}"  />
          <div class="invalid-feedback">Please choose a symbol</div>
      </div>
      <div class="form-group">
          <button class="btn btn-primary" [hidden]="!addBtn">Add</button>
          <button class="btn btn-primary" [hidden]="addBtn">Update</button>
      </div>
  </form>
</div>