    <div class="container mt-5" style="margin-left: 200px;" >
      <div style="display: flex; justify-content: flex-end; margin-bottom:20px;border-radius: 5%;"> 
          <div class="AddButton"  [routerLink]="['/editvehiclecategory/0']" routerLinkActive="router-link-active" >Add new</div> 
      </div>
        <div class="card">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="tblHeader">Name</th>
                    <th scope="col" class="tblHeader" >Description</th>
                    <th scope="col" class="tblHeader">Deleted</th>          
                    <th scope="col" class="tblHeader">Action</th>
                  </tr>
                </thead>
                <tbody class="tblBody">
                  <tr *ngFor="let vehicleCategory of vehicleCategories">
                    <td>{{vehicleCategory.name}}</td>
                    <td>{{vehicleCategory.description}}</td>
                    <td>
                      <i class="fa fa-check" aria-hidden="true" [hidden]="!vehicleCategory.isDeleted"></i>
                      <i class="fa fa-times" aria-hidden="true" [hidden]="vehicleCategory.isDeleted"></i>
                    </td>
                    <td>
                        <button (click)="editVehicleCategory(vehicleCategory.id)" class="btn btn-link">Edit</button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
