<div class="container mt-5" style="margin-left: 200px;" >
  <div style="display: flex; justify-content: flex-end; margin-bottom:20px;border-radius: 5%;"> 
      <div class="AddButton"  [routerLink]="['/createcountry/0']" routerLinkActive="router-link-active" >New Country <i class="fa fa-flag" aria-hidden="true"></i></div> 
  </div>
    <div class="card">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="tblHeader">Country</th>
                <th scope="col" class="tblHeader" >Code</th>
                <th scope="col" class="tblHeader">VAT</th>          
                <th scope="col" class="tblHeader">Language</th>
                <th scope="col" class="tblHeader">Currency</th>
                <th scope="col" class="tblHeader">Currency Format</th>
                <th scope="col" class="tblHeader">Deleted</th>
                <th scope="col" class="tblHeader">Action</th>
              </tr>
            </thead>
            <tbody class="tblBody">
              <tr *ngFor="let country of countries">
                <td>{{country.name}}</td>
                <td>{{country.code}}</td>
                <td>{{country.vat | number : '1.2-2'}}</td>
                <td>{{country.language.name}}</td>
                <td>{{country.currencySymbol.symbol}}</td>
                <td>{{country.currencyFormat.format}}</td>
                <td>
                  <i class="fa fa-check" aria-hidden="true" [hidden]="!country.isDeleted"></i>
                  <i class="fa fa-times" aria-hidden="true" [hidden]="country.isDeleted"></i>
                </td>
                <td>
                    <button (click)="editCountry(country.id)" class="btn btn-link"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                </td>
                <td style="min-width:200px;">
                    <div class="btn-group" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-default btn-xs dropdown-toggle AddButton"
                                aria-controls="dropdown-basic" style="
                                margin-top: 0px;
                                margin-bottom: 0px;
                                padding-top: 5px;
                            ">Action <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/countries/termsandconditions/' + country.id]">Terms and Conditions</a></li>
                          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/countries/notifysettings/' + country.id]">Notification Settings</a></li>
                          <li role="menuitem"><a class="dropdown-item" href="#">Season Names</a></li>
                          <li role="menuitem"><a class="dropdown-item" href="#">Email template</a></li>
                          <li role="menuitem"><a class="dropdown-item" href="#">SMS template</a></li>
                        </ul>
                      </div>
                  <!-- <select>
                    <option>Terms</option>
                    <option>Notify Settings</option>
                 </select> -->
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    
    <!-- 
      <p>Form value: {{countryForm.value | json}}</p>
      <p>Form status: {{countryForm.status | json}}</p> -->
