<div class="container">
  <form [formGroup]="termsAndConditionForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid': termsAndConditionForm.get('name').errors 
          && termsAndConditionForm.get('name').touched}"  />
          <div class="invalid-feedback">Please choose a name</div>
      </div>
      <div class="form-group">
          <label>Country</label>
          <select formControlName="countryId" class="form-control" class="form-control" [ngClass]="{'is-invalid': termsAndConditionForm.get('countryId').errors 
        && termsAndConditionForm.get('countryId').touched}">
          <option *ngFor="let country of termsAndCondition.countries" [value]="country.id">
                  {{country?.name}}
          </option>
        </select>
        <div class="invalid-feedback">Please choose the country</div>
          
      </div>
      <div class="form-group" [hidden]="!addBtn">
        <label>Upload file</label>
        <input type="file" (change)="fileSelectedEvent($event)"  name="fileupload" />
      </div>
      <div class="form-group">
          <button class="btn btn-primary" [hidden]="!addBtn">Add</button>
          <button class="btn btn-primary" [hidden]="addBtn">Update</button>
      </div>
  </form>
</div>