@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300i,400,400i,500,700,900');


$font:'Roboto', sans-serif;
$white:#ffffff;
$base-color:#5082a5;
$white:#ffffff;
$border-color:#ebebeb;

@mixin form {
    box-shadow: 0 0 18px 0 rgba(148, 148, 148, 0.1) !important;
    border: 1px solid $border-color !important;
    font-family: $font !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 2.12 !important;
    letter-spacing: normal !important;
    text-align: left !important;
    color: #ebebeb!important;
}

@mixin label {
    font-family: $font;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c0c0c0;
}

@mixin first-header {
    font-family: $font;
    font-size: 26.1px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.42;
    letter-spacing: normal;
    text-align: left;
    color: #5082a5;
}

@mixin default-button {
    margin-top: 24px;
    width: 100%;
    border-radius: 18px;
    background-color: #33b1de;
    border: none;
}

@mixin secound-button {
    width: 100%;
    border-radius: 18px;
    box-shadow: 0 0 18px 0 rgba(148, 148, 148, 0.1);
    background-color: #ffffff;
    border: 1px solid #33b1de;
}