<div class="container mt-5" style="margin-left: 200px;" >
    <div id="DashContainer">
       <div id="DashHeader">
          <div>
             Local Admin
          </div>
          <div>
             <div> ora me icon</div>
             <div> Data me icon</div>
          </div>
       </div>
       <h4>123 Requets to be approved(with pager)</h4>
       <div class="col-md-12" style="margin-bottom:100px">
          <div class="table-responsive">
             <table id="mytable" class="table table-bordred table-striped">
                <thead>
                   <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Address</th>
                      <th>Email</th>
                      <th>Contact</th>
                      <th>Edit</th>
                      <th>Delete</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <td>Mohsin</td>
                      <td>Irshad</td>
                      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                      <td>isometric.mohsin@gmail.com</td>
                      <td>+923335586757</td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                      </td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                      </td>
                   </tr>
                   <tr>
                      <td>Mohsin</td>
                      <td>Irshad</td>
                      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                      <td>isometric.mohsin@gmail.com</td>
                      <td>+923335586757</td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                      </td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                      </td>
                   </tr>
                   <tr>
                      <td>Mohsin</td>
                      <td>Irshad</td>
                      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                      <td>isometric.mohsin@gmail.com</td>
                      <td>+923335586757</td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                      </td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                      </td>
                   </tr>
                   <tr>
                      <td>Mohsin</td>
                      <td>Irshad</td>
                      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                      <td>isometric.mohsin@gmail.com</td>
                      <td>+923335586757</td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                      </td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                      </td>
                   </tr>
                   <tr>
                      <td>Mohsin</td>
                      <td>Irshad</td>
                      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                      <td>isometric.mohsin@gmail.com</td>
                      <td>+923335586757</td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                      </td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
       <h4>Top 10 notifications for clients</h4>
       <div class="col-md-12">
          <div class="table-responsive">
             <table id="mytable" class="table table-bordred table-striped" style="margin-bottom:100px">
                <thead>
                   <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Address</th>
                      <th>Email</th>
                      <th>Contact</th>
                      <th>Edit</th>
                      <th>Delete</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <td>Mohsin</td>
                      <td>Irshad</td>
                      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                      <td>isometric.mohsin@gmail.com</td>
                      <td>+923335586757</td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                      </td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                      </td>
                   </tr>
                   <tr>
                      <td>Mohsin</td>
                      <td>Irshad</td>
                      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                      <td>isometric.mohsin@gmail.com</td>
                      <td>+923335586757</td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                      </td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                      </td>
                   </tr>
                   <tr>
                      <td>Mohsin</td>
                      <td>Irshad</td>
                      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                      <td>isometric.mohsin@gmail.com</td>
                      <td>+923335586757</td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                      </td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                      </td>
                   </tr>
                   <tr>
                      <td>Mohsin</td>
                      <td>Irshad</td>
                      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                      <td>isometric.mohsin@gmail.com</td>
                      <td>+923335586757</td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                      </td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                      </td>
                   </tr>
                   <tr>
                      <td>Mohsin</td>
                      <td>Irshad</td>
                      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                      <td>isometric.mohsin@gmail.com</td>
                      <td>+923335586757</td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                      </td>
                      <td>
                         <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
       <div style="display: flex; flex-wrap: wrap; width:100%; position: relative;">
          <div class="flexChild">
             <div class="carDiv"> <i style="padding:10px" class="fa fa-car" aria-hidden="true"></i></div>
             <div style="display: flex; justify-content: space-between;width: 100%; margin-top: 15px;">
                <div class="widgetTxt">Total Vehicle</div>
                <div class="number"> 45</div>
             </div>
          </div>
          <div class="flexChild" >
             <div class="carDiv"> <i style="padding:10px" class="fa fa-car" aria-hidden="true"></i></div>
             <div style="display: flex; justify-content: space-between;width: 100%; margin-top: 15px;">
                <div class="widgetTxt">Draft</div>
                <div class="number"> 45</div>
             </div>
          </div>
          <div class="flexChild">
             <div class="carDiv"> <i style="padding:10px" class="fa fa-car" aria-hidden="true"></i></div>
             <div style="display: flex; justify-content: space-between;width: 100%; margin-top: 15px;">
                <div class="widgetTxt">Cars Soon Available</div>
                <div class="number"> 45</div>
             </div>
          </div>
       </div>
       <div class="row">
         <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="flag-icon-background flag-icon-ch flag-icon-squared"> </td>
                        <td>Switzerland</td>
                        <td>222</td>
                        
                    </tr>
                    <tr>
                        <td class="flag-icon-background flag-icon-in flag-icon-squared"> </td>
                        <td>India</td>
                        <td>735</td>
                       
                    </tr>
                    <tr>
                        <td class="flag-icon-background flag-icon-cn flag-icon-squared"> </td>
                        <td>China</td>
                        <td>931</td>
                    </tr>      
                </tbody>
            </table>
         </div>

         <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="flag-icon-background flag-icon-ch flag-icon-squared"> </td>
                        <td>Switzerland</td>
                        <td>222</td>
                        
                    </tr>
                    <tr>
                        <td class="flag-icon-background flag-icon-in flag-icon-squared"> </td>
                        <td>India</td>
                        <td>735</td>
                       
                    </tr>
                    <tr>
                        <td class="flag-icon-background flag-icon-cn flag-icon-squared"> </td>
                        <td>China</td>
                        <td>931</td>
                    </tr>      
                </tbody>
            </table>
         </div>
         
         <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="flag-icon-background flag-icon-ch flag-icon-squared">
</td>
                        <td>Switzerland</td>
                        <td>222</td>
                        
                    </tr>
                    <tr>
                        <td class="flag-icon-background flag-icon-in flag-icon-squared"> </td>
                        <td>India</td>
                        <td>735</td>
                       
                    </tr>
                    <tr>
                        <td class="flag-icon-background flag-icon-cn flag-icon-squared"> </td>
                        <td>China</td>
                        <td>931</td>
                    </tr>      
                </tbody>
            </table>
         </div>
       </div>
       <div style="display: flex; flex-wrap: wrap; width:100%; position: relative; margin-top: 80px;">
          <div class="flexChild">
             <div class="carDiv"> <i style="padding:10px" class="fa fa-car" aria-hidden="true"></i></div>
             <div style="display: flex; justify-content: space-between;width: 100%; margin-top: 15px;">
                <div class="widgetTxt">Total Vehicle</div>
                <div class="number"> 45</div>
             </div>
          </div>
          <div class="flexChild" >
             <div class="carDiv"> <i style="padding:10px" class="fa fa-car" aria-hidden="true"></i></div>
             <div style="display: flex; justify-content: space-between;width: 100%; margin-top: 15px;">
                <div class="widgetTxt">Draft</div>
                <div class="number"> 45</div>
             </div>
          </div>
          <div class="flexChild">
             <div class="carDiv"> <i style="padding:10px" class="fa fa-car" aria-hidden="true"></i></div>
             <div style="display: flex; justify-content: space-between;width: 100%; margin-top: 15px;">
                <div class="widgetTxt">Cars Soon Available</div>
                <div class="number"> 45</div>
             </div>
          </div>
       </div>
       <div class="row">
         <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="flag-icon-background flag-icon-ch flag-icon-squared"> </td>
                        <td>Switzerland</td>
                        <td>222</td>
                        
                    </tr>
                    <tr>
                        <td class="flag-icon-background flag-icon-in flag-icon-squared"> </td>
                        <td>India</td>
                        <td>735</td>
                       
                    </tr>
                    <tr>
                        <td class="flag-icon-background flag-icon-cn flag-icon-squared"> </td>
                        <td>China</td>
                        <td>931</td>
                    </tr>      
                </tbody>
            </table>
         </div>

         <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="flag-icon-background flag-icon-ch flag-icon-squared"> </td>
                        <td>Switzerland</td>
                        <td>222</td>
                        
                    </tr>
                    <tr>
                        <td class="flag-icon-background flag-icon-in flag-icon-squared"> </td>
                        <td>India</td>
                        <td>735</td>
                       
                    </tr>
                    <tr>
                        <td class="flag-icon-background flag-icon-cn flag-icon-squared"> </td>
                        <td>China</td>
                        <td>931</td>
                    </tr>      
                </tbody>
            </table>
         </div>
         
         <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="flag-icon-background flag-icon-ch flag-icon-squared"> </td>
                        <td>Switzerland</td>
                        <td>222</td>
                        
                    </tr>
                    <tr>
                        <td class="flag-icon-background flag-icon-in flag-icon-squared"> </td>
                        <td>India</td>
                        <td>735</td>
                       
                    </tr>
                    <tr>
                        <td class="flag-icon-background flag-icon-cn flag-icon-squared"> </td>
                        <td>China</td>
                        <td>931</td>
                    </tr>      
                </tbody>
            </table>
         </div>
       </div>
    </div>
 </div>
 <style>
    #Widgetcontainer {
    background-color: #ffffff;
    width: 100%;
    }
    #DashHeader {
    display: flex;
    justify-content: space-between;
    width: 100%
    }
    .flexChild {
    position: relative;
    color:#c0c0c0;
    margin: 20px;
    height: 100px;
    width: 300px;
    font-size: 18px;
    padding:20px;
    box-shadow: 0 0 18px 0 rgba(148, 148, 148, 0.1);
    background-color: #ffffff;
    }
    .carDiv {
    box-shadow: 0 0 18px 0 rgba(148, 148, 148, 0.1);
    background-color: #ffffff;
    position: absolute;
    top:-20px; 
    height: 50px;
    width: 50px;
    padding: 5px;
    }
    .widgetTxt {
    width: 50%;
    opacity: 0.6;
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    }
    .number {
    width: 50%;
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.98;
    letter-spacing: normal;
    }
 </style>